#camera {
    width: 100%;
    margin: 0 auto;
}

.fa-trash {
    cursor: pointer;
}

.scanAndImageButton {
    border: lightseagreen solid; 
    padding: 1.5em; 
    border-radius: 10px; 
    text-align: center;
    color: lightseagreen;
}

.image {
    margin-top: 10px;
}

